@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;500&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-family: Kufam;
  background: #282a36;
  box-sizing: border-box;
}
canvas {
  width: 100%;
  height: calc(100vh - 40px);
  background: #282a36;
}
#hint {
  background: #9580ff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #282a36;
  font-weight: 500;
}
